@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box; 
    line-height: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;    
    color: #2B283A;    
}

body{
    margin:0;    
    padding:0;
}

/* scrollbar styling */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {      	         
    box-shadow: inset 0 0 5px rgba(251,248,241);
    -webkit-box-shadow: inset 0 0 5px  rgba(251,248,241);         
}
 
::-webkit-scrollbar-thumb {    
    box-shadow: inset 0 0 6px rgba(245,90,90,1);
    -webkit-box-shadow: inset 0 0 6px rgba(245,90,90,1);     
    background:  #FBF8F1;
}
/*  */


/* nav and footer */
footer{
    padding:10px;
    text-align: center;
    background: #F55A5A;     
    margin-top:20px;   
}


footer *{
    color: #FFF;
    margin: 2px;
    vertical-align: middle;
}

nav{
    padding:10px;
    text-align: center;
    background: #F55A5A; 
    font-size:18px;    
    box-shadow:0 2px 5px  rgba(245,90,90,0.4);
}

nav *{
    color: #FFF; 
}

.web-title{
    padding-left:6px;
}

/*  */

/* fontawesome icons */
i.fa-global,i.fa-location-dot{
    vertical-align: middle;
}

i.fa-location-dot{
    color:#F55A5A;    
}

/*  */


/* card-container and cards  */

.travels-container{
    margin: auto;
    text-align:left;    
}

.travel-card{
    display: flex;   
    width:80%;
    margin:auto; 
    margin-top:20px;
    border: 2px solid white;
    background: #FBF8F1;    
    padding:3%;
    border-radius: 8px;     
    transition: all 200ms ease-in-out;
}

.travel-card:hover{
    transform: translateY(-4px);
    border: 2px solid rgba(245,90,90,0.5);
    box-shadow:0 2px 6px rgba(245,90,90,0.5);
}

.travel-card-image{
    width: 30%;    
}

.travel-card-image img{
    width: 100%;
    height:100%;
    border-radius: 8px;  
    max-height: 300px;   
;}

.travel-main{
    margin-left: 20px;    
    width:70%;
}

.travel-card-title{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;    
}

.travel-card-description{
    font-size: 14px;
    line-height: 150%;  
    width:85%;  
}

.travel-card-location{
    font-size: 10.24px;    
    letter-spacing: 0.17em;    
    padding-left: 4px;
}

.travel-card-link{
    font-size: 10.24px;        
    text-decoration-line: underline;
    color: #918E9B;    
    padding-left: 4px;
    
}

.travel-card-timeline{
    font-weight: bold;
}

/*  */

/*  */
.btn{
    outline: none;
    border: none;
    border-radius: 4px;    
    padding: 6px 18px;
    background-color:#FBF8F1;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
/*  */

/* pagination */
.pagination{
    text-align: center;
    padding: 40px;
}

.pagination-status{
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
    letter-spacing: 12px;    
}

.pagination-status *{
    font-weight: bold;
}

.pagination-currentpage{
    color: #F55A5A ;
}

.pagination button:not(:disabled):hover{
    background-color: #F55A5A;
}

.pagination button:not(:disabled):hover *{
    color:#FBF8F1;    
}

.pagination button *{
    color:#F55A5A;
}

.pagination button:disabled{
    cursor: not-allowed;    
}
.pagination button:disabled *{
    opacity: 40%;
}
/*  */

/* votes */
.votes{
    font-size: 16px;
    text-align: center;
    align-self: center;
}

.downvote-red *{
    color:#FF0000;
}

.upvote-green *{
    color:#33FF33;
}

.downvote-red:hover{
    background-color: #FF0000;
}

.upvote-green:hover{
    background-color: #33FF33;
}


.upvote-green:hover *, .downvote-red:hover *{
    color:#FBF8F1;    
}

.number-votes{
    font-size: 10px;    
}
.number-votes > span{
    font-weight: bold;
}
/*  */


/* loader */
.loader-extra-space{
    height: 20vh;    
}

.multi-spinner-container {
  width: 250px;
  height: 250px;
  margin:auto;
  position: relative;  
  overflow: hidden;    
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-top-color: #F55A5A;
  border-radius: 50%;
  -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}     
        
        
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
          
        
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*  */