@import '~antd/dist/antd.css';


.ant-card-hoverable:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgb(146 84 222 / 16%), 0 3px 6px 0 rgb(146 84 222 / 12%), 0 5px 12px 4px rgb(146 84 222 / 9%) !important;
}


/* scrollbar:start */

html {
    scroll-behavior: smooth;
    --scrollbarBG: #f9f0ff;
    --thumbBG: #b37feb ;     
}

body::-webkit-scrollbar {
    width: 1rem;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 0.5rem;
    border: 0.25rem solid var(--scrollbarBG);
}

/* scrollbar:end */