
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;    
    color: #FFFFFF;
    font-family: "Nunito",'Courier New', Courier, monospace;
}

nav{
    display: flex;
    align-items: center;
    font-size: 24px;    
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    box-shadow: 0 1px 3px rgba(151, 39, 179, 0.3);
    outline: none;
    border: none;
}

.logo{
    width:40px;
    height: 36px;
    margin-left: 24px;
    color:white !important;
    transform: scale(-1,1);
}

.logo-title{
    height: 24px;
    margin-left: 12px;    
}

.container{
    display: grid;
    text-align: center;        
}

/* forms */
.form-grid{
    padding: 25px;
    display: grid;    
    grid-template-columns: 30%  30% ;
    grid-template-rows: 60px 60px; 
    column-gap: 10px;
    row-gap: 15px;       
    justify-content: center;
}

.meme-input{
    text-indent: 4px;
    outline: none;
    border-radius: 6px;  
    border: 1.5px #D5D4D8 solid;  
    transition: all 200ms ease-in-out;   
}

.meme-input:focus{      
    box-shadow: 0px 1px 10px 1px  rgba(151, 39, 179, 0.8);
}

.meme-generator-btn{
  grid-column: 1 / 3;        
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color:#FFFFFF;
  border-radius: 6px;  
}

.meme-generator-btn:hover{    
    background: linear-gradient(to right, #667eea80, #764ba280, #6b8dd67c, #8f37d77c);
    color:#672280;
    border-color:#672280 ;
}

.meme-container{
    position: relative;
}

.meme-content{
    position: relative;
    text-align: center;                
}

.meme-image{
    width:70%;   
    border-radius: 6px;    
    transition: all 200ms ease-in-out;   
    max-height: 90vh;        
    object-fit: fill;        
}

.meme-image:hover{
    box-shadow: 0px 1px 10px 1px  rgba(151, 39, 179, 0.8);

}

.meme-text{
    position: absolute;    
    text-align: center;    
    width: 55%;
    line-break: anywhere;    
    letter-spacing: 0.5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;    
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    font-family: Impact;    
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;    
}
.meme-top{
    top:0;
}

.meme-bottom{
    bottom:0;
}

/* voting */
.meme-voting{
    position: absolute;
    top:0;
    right: 15%;    
    background-color: #D5D4D8;
    opacity: 0.8;    
    font-size: 16px;
}

.meme-votes{
    color: black;
    font-weight: bolder;
}

.downvote-red *{
    color:#FF0000;
}

.upvote-green *{
    color:#33FF33;
}

.downvote-red:hover{
    background-color: #FF0000;
}

.upvote-green:hover{
    background-color: #33FF33;
}


.upvote-green:hover *, .downvote-red:hover *{
    color:#FBF8F1;    
}

/*  */

.btn{
    outline: none;
    border: none;
    opacity: 1;
    cursor: pointer;
    transition: all 200ms ease-in-out;    
}

/* Socials */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);  
  transform: translateY(-50%);

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 200ms ease-in-out; 
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background:#D5D4D8;
}

.github,.linkedin{
    color:white;
}

.linkedin:hover > i{
    color:#007bb5;
}

.github:hover > i{
    color:#171515;
}

.github{
    background: #171515;
}
.linkedin{
    background: #007bb5;
}
/*  */

.meme-download{                    
    padding: 12px;
    margin:16px auto;    
    color:#FFFFFF;
    background-image: linear-gradient(to right, #667eea80, #764ba280, #6b8dd67c, #8f37d77c);
    box-shadow: 0 2px 12px 0 rgba(116, 79, 168, 0.75);
    border: 1px solid rgba(151, 39, 179, 0.8);
    background-size: 300% 100%;    
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.meme-download:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}