.menuBar {
  padding: 0 20px;  
}

.logo {
  width: 150px !important;
  float: left !important;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;  
}

/* ! remove underline */
.menuCon .ant-menu-horizontal {
  border-bottom: none;
}